Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install -r server/requirements.txt
  - pip install pylint
  script:
  - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false ./node_modules/.bin/eslint src

Add files changed component
  client/src/pages/CodeDiff.js
Due: frontend build

comment for draft schema
  server/interface/mongodb_interface.py
Due: backend format, backend build

Fixed x axis issue
  client/src/components/summary/StackedBar.js
Due: frontend build

Remove set projectid and change to sync project
  client/src/components/login/Repo.js
Due: frontend build

Stash before checking out other branch
  client/src/components/login/Repo.js
Due: frontend build

Add logic to show/hide files
  client/src/pages/CodeDiff.js
Due: frontend build

Display table data (WIP)
  client/src/components/summary/StackedBar.js
  client/src/pages/SummaryPage.js
  client/src/pages/TablePage.js
Due: frontend build

Schema draft for database
  server/interface/mongodb_interface.py
Due: backend format, backend build

Finished auth and get_project_list to support multi-user access
  server/app.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

added small note for future josh
  server/interface/mongodb_interface.py
Due: backend format, backend build

TODO indicators
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added some references to collections
  server/interface/mongodb_interface.py
Due: backend format, backend build

fix #106
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

reformat
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Finished modify backend interface to support multi-user access
  server/app.py
Due: backend format, backend build

Add timeout to check periodically, update status bar with %
  client/src/components/login/Repo.js
Due: frontend build

Fixed bug with redirecting issue, need clean up
  client/src/components/login/Repo.js
Due: frontend build

added more to schema
  server/interface/mongodb_interface.py
Due: backend format, backend build

Refactor code
  server/app.py
Due: backend format, backend build

add print statements
  server/app.py
Due: backend format, backend build

Working copy of the cookies CORS auth
  client/src/components/login/LoginBar.js
  client/src/pages/SearchPage.js
  server/app.py
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build, frontend build

Table rows now working
  client/src/pages/SummaryPage.js
  client/src/pages/TablePage.js
Due: frontend build

Fixed a bug that it will return a empty project list. Added multi-user access.
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_analyzer_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Fixed some errors in API_example_response.md
  server/API_example_response.md
Due: backend format, backend build

Refactored code and improved code format to improve readability
  server/API_example_response.md
  server/app.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Added error checking to prevent getting information when the project is syncing
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Refactored code format and function names to improve readability
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

added typing for code_diff_list
  server/manager/code_diff_manager.py
Due: backend format, backend build

implemented insert for merge requests, commits, and codediffs
  server/interface/mongodb_interface.py
Due: backend format, backend build

fix typo
  server/interface/mongodb_interface.py
Due: backend format, backend build

fix typo
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

integrated Project data class into interface
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

fix typo
  server/manager/member_manager.py
Due: backend format, backend build

integrate project data class into app.py
  server/app.py
  server/model/project.py
Due: backend format, backend build

implemented insert project method
  server/interface/mongodb_interface.py
Due: backend format, backend build

stub method for insert gitlabanalyer user
  server/interface/mongodb_interface.py
Due: backend format, backend build

todo comments
  server/interface/mongodb_interface.py
Due: backend format, backend build

notes for self
  server/interface/mongodb_interface.py
Due: backend format, backend build

compile bug fix
  server/interface/mongodb_interface.py
Due: backend format, backend build

Path conditions:
  backend format: any of: server/*, server/**/*
  backend build: any of: server/*, server/**/*
  frontend build: any of: client/**/*
