Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install black
  script:
  - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
  - docker
  before_script:
  - pip install --upgrade pip
  - pip install -r server/requirements.txt
  - pip install pylint
  script:
  - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
  - docker
  before_script:
  - cd client
  - npm install
  script:
  - CI=false ./node_modules/.bin/eslint src

add sort functionality
  client/src/components/config/AnonymousViewing.js
  client/src/components/config/InitialUserDates.js
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
Due: frontend build

update color to depend on user
  client/src/components/floatbar/EveryoneScore.js
Due: frontend build

Modified back-end server to sync the project in the background (in a separate thread)
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Fixed typos and added example date response
  server/API_example_response.md
Due: backend format, backend build

Fix copy button
  client/src/components/config/InitialUserDates.js
  client/src/components/floatbar/FloatBar.js
Due: frontend build

fix minor issues
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

Modify gitlab_project_interface to update managers using threads which shorten the wait time from frontend
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Modified syncing_state values since we are using threads.
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Graphs now render the correct data.
  client/package.json
  client/src/components/login/Repo.js
  client/src/pages/SummaryPage.js
Due: frontend build

Graph dates somewhat fixed
  client/src/components/summary/BarGraph.js
  client/src/components/summary/StackedBar.js
  client/src/pages/SummaryPage.js
Due: frontend build

store user key information
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

added mongodb class file
  server/interface/mongodb_interface.py
Due: backend format, backend build

add function to find project by id
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

Testing out drawer component and code diffs
  client/src/pages/CodeDiff.js
  client/src/pages/CommitPage.js
  client/src/pages/CommitsPage.css
Due: frontend build

Remove project_list property and fix typo
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

user @property for setters
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

fix minor typo
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

Add more testing
  client/package-lock.json
  client/package.json
  client/public/index.html
  client/src/App.js
  client/src/pages/CodeDiff.js
  client/src/pages/CommitPage.js
  client/src/pages/constants.js
Due: frontend build

Add code diff react
  client/package-lock.json
  client/package.json
  client/src/pages/CodeDiff.js
  client/src/pages/styles.css
Due: frontend build

Added gitlab_analyzer_manager.py to support multi user access (not fully finished).
  server/app.py
  server/interface/gitlab_analyzer_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Fix copy button load error, add anon for floatbar
  client/src/components/SelectUser.js
  client/src/components/config/InitialUserDates.js
  client/src/components/floatbar/EveryoneScore.css
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
  client/src/context/AuthContext.js
Due: frontend build

Fix score to be integer
  client/src/components/floatbar/FloatBar.js
Due: frontend build

Delete commented out code
  client/src/components/SelectUser.js
  client/src/components/config/InitialUserDates.js
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
Due: frontend build

Update README.md
  README.md
Due: none

Fix copy button from disappearing
  client/src/components/floatbar/FloatBar.js
Due: frontend build

added mongo interface and basic operations
  server/interface/mongodb_interface.py
Due: backend format, backend build

Finished gitlab_analyzer_manager.py
  server/app.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Made iteration dynamic
  .gitignore
  client/src/components/config/IterationDates.js
  start.sh
Due: frontend build

Update mongodb_interface.py
  server/interface/mongodb_interface.py
Due: backend format, backend build

Added getters for gitlab_project_interface
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Cleaned code format
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_analyzer_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Renamed sync_project to sync_project_helper and added error check when frontend calling sync/state
  server/app.py
Due: backend format, backend build

Reformat function for better readability
  server/app.py
Due: backend format, backend build

String literal needs fixing
  client/src/pages/CodeDiff.js
Due: frontend build

added update and remove method for users collection
  server/interface/mongodb_interface.py
Due: backend format, backend build

Add button to minimize and expand the code diffs
  client/src/pages/CodeDiff.js
Due: frontend build

Changed minimize button to collapse checkmark
  client/src/pages/CodeDiff.js
Due: frontend build

Iterate through list of code diff and render appropriately
  client/src/components/floatbar/FloatBar.js
  client/src/pages/CodeDiff.js
Due: frontend build

Path conditions:
  backend format: any of: server/*, server/**/*
  backend build: any of: server/*, server/**/*
  frontend build: any of: client/**/*
