Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Get only comments that are not system notes
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Merge from master and resolve conflict
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/merge_request_manager.py
  server/model/merge_request.py
Due: backend format, backend build

added project attribute to attach project interface to a specific project
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

updated graphs
  client/.eslintcache
  client/src/components/Header.js
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/IndividualScore.css
  client/src/components/floatbar/IndividualScore.js
  client/src/components/overview/StackedBar.js
  client/src/pages/OverviewPage.js
Due: frontend build

reverted float bar
  client/.eslintcache
  client/src/components/floatbar/FloatBar.js
Due: frontend build

create score cards
  client/src/components/Header.js
  client/src/components/SelectUser.css
  client/src/components/SelectUser.js
  client/src/components/Settings.json
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/IndividualScore.css
  client/src/components/floatbar/IndividualScore.js
Due: frontend build

delete eslintcache
  client/.eslintcache
  client/.eslintcache~6-create-floating-scores-ui
Due: frontend build

add sort dropdown
  client/src/components/SelectUser.js
  client/src/components/floatbar/FloatBar.js
Due: frontend build

moved legend, cleaned up a bit of code
  client/.eslintcache
  client/src/components/Header.js
  client/src/components/overview/StackedBar.js
  client/src/pages/OverviewPage.js
Due: frontend build

made floatbar mobile
  client/src/components/floatbar/EveryoneScore.css
  client/src/components/floatbar/FloatBar.css
  client/src/components/floatbar/FloatBar.js
Due: frontend build

add search field to user select
  client/src/components/Header.js
  client/src/components/SelectUser.js
  client/src/components/floatbar/IndividualScore.css
  client/src/components/floatbar/IndividualScore.js
Due: frontend build

Experiment material ui drawer from the bottom
  client/src/components/commits/CommitBar.js
  client/src/pages/CommitPage.js
Due: frontend build

Material UI drawer is good. Changed the order of the columns for MR
  client/src/components/commits/CommitBar.js
Due: frontend build

Stash before code review
  client/src/components/commits/CommitBar.js
Due: frontend build

minor adjustments
  client/.eslintcache
  client/src/components/overview/BarGraph.js
  client/src/components/overview/Heatmap.js
  client/src/components/overview/StackedBar.js
  client/src/pages/OverviewPage.js
Due: frontend build

changed overview to summary
  client/.eslintcache
  client/src/App.js
  client/src/components/Header.js
  client/src/components/summary/BarGraph.js
  client/src/components/summary/StackedBar.js
  client/src/pages/SummaryPage.js
Due: frontend build

delete commented out code
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/IndividualScore.js
Due: frontend build

add temporary score calculator
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/ScoreCalculator.js
Due: frontend build

add gitlab_analyzer_interface.py
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

fixed a bug for /auth
  server/app.py
Due: backend format, backend build

cleanup indenting
  client/.eslintcache
  client/src/pages/SummaryPage.js
Due: frontend build

Added get_commits_for_user for gitlab_project_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/commit_manager.py
  server/manager/member_manager.py
Due: backend format, backend build

Fix formatting issue and add backend_format_check script
  check_backend_format.sh
  server/app.py
Due: backend format, backend build

Update check_backend_format.sh
  check_backend_format.sh
Due: none

Clean up code before merge request
  client/src/components/commits/CommitBar.js
  client/src/components/commits/CommitGraph.js
  client/src/components/commits/CommitsHeatBar.js
  client/src/components/commits/commitData.js
  client/src/pages/CommitPage.js
Due: frontend build

Delete unneeded test files
  client/src/pages/TestDrawer.js
Due: frontend build

Remove Testdrawer from App page
  client/src/App.js
Due: frontend build

Added get MRs_and_Commits to gitlab_project_interface.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Fix a bug in set_project
  server/app.py
Due: backend format, backend build

change find_project function to a public function.
  server/interface/gitlab_interface.py
Due: backend format, backend build

Finished GET /projects/<int:projectID>/commit
  server/API_example_response.txt
  server/app.py
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added methods in project interface for data gathering for scoring.
  server/.gitignore
  server/interface/gitlab_project_interface.py
  server/requirements.txt
Due: backend format, backend build

Finished GET /projects/<int:projectID>/commit/user/all
  server/API_example_response.txt
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added react table boilerplate
  client/.eslintcache
  client/package-lock.json
  client/package.json
  client/src/App.css
  client/src/App.js
  client/src/pages/TablePage.js
Due: frontend build

changed to new table library
  client/.eslintcache
  client/src/pages/TablePage.js
Due: frontend build

Clean code
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Fixed format issue and merge_conflict from master
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Changed line ending to Unix for check_backend_format.sh
  check_backend_format.sh
Due: none
