Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

customize preset iteration ranges
  client/.eslintcache
  client/src/components/floatbar/FloatBar.js
Due: frontend build

change date format
  client/src/components/floatbar/Settings.json
Due: frontend build

finished filter options (no functionality yet) and added comment table column
  client/.eslintcache
  client/src/pages/TablePage.js
Due: frontend build

added custom styling for table
  client/.eslintcache
  client/src/pages/TablePage.js
Due: frontend build

add copy button response
  client/src/components/floatbar/FloatBar.js
Due: frontend build

changed Score Calculator variables to 'let'
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/ScoreCalculator.js
Due: frontend build

resolve merge conflicts
  client/package-lock.json
Due: frontend build

Add batch processing table and buttons
  client/src/App.js
  client/src/components/batch/BatchTable.js
  client/src/pages/BatchPage.js
Due: frontend build

moved methods around
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

temp file for a more through out line calculator
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix build error
  server/manager/code_diff_temp.py
Due: backend format, backend build

changing methods
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Removed the function get_commit_list_by_sha since we are storing commit objects instead
  server/manager/merge_request_manager.py
  server/model/merge_request.py
Due: backend format, backend build

fixed some return types, modified code to match new merge
  server/interface/gitlab_project_interface.py
  server/model/merge_request.py
Due: backend format, backend build

Add another API call to get all MRs and commits in a whole list
  server/API_example_response.txt
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Stash before checking out master
  client/src/pages/BatchPage.js
Due: frontend build

added placeholder operations from codeDiffManager as comments
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added nested grid for filter menu and moved filter menu into separate component
  client/.eslintcache
  client/src/App.js
  client/src/components/Header.js
  client/src/components/Table.js
  client/src/components/table/FilterMenu.js
  client/src/pages/TablePage.js
Due: frontend build

save
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added notes for future me
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

changed table row dimension and turned checkboxes into column form
  client/.eslintcache
  client/src/components/table/FilterMenu.js
  client/src/pages/TablePage.js
Due: frontend build

Added codeDiff manager and assign IDs to all commits and MR so it can reference to codeDiff in O(1)
  server/API_example_response.txt
  server/app.py
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/merge_request_manager.py
  server/model/code_diff.py
  server/model/code_diff_manager.py
  server/model/commit.py
  server/model/data_object.py
  server/model/merge_request.py
  server/test/gitlab_interface_test.py
Due: backend format, backend build

Added script for automatically format python files
  apply_backend_format.sh
Due: none

Reformatted python code
  server/interface/gitlab_project_interface.py
  server/manager/merge_request_manager.py
  server/model/merge_request.py
Due: backend format, backend build

fix edge case and add return to support API calls
  server/manager/code_diff_temp.py
Due: backend format, backend build

shorten some part of the code
  server/manager/code_diff_temp.py
Due: backend format, backend build

add more edge cases and todo list
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix format issue
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix pipeline issue
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix according to Henry suggestion
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix to the backup plan as well
  server/manager/code_diff_analyze_manager.py
Due: backend format, backend build

added the init back
  server/manager/code_diff_analyze_manager.py
  server/manager/code_diff_temp.py
Due: backend format, backend build

implemented get score data methods for MRs and Commits, also a TODO comment for updating the code diff manager
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added some TODO comments for a getter and list populator method
  server/manager/code_diff_temp.py
Due: backend format, backend build

implemented get_code_diff_by_id, added listSize attribute
  server/manager/code_diff_temp.py
Due: backend format, backend build

fixed typo
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add GET call for code diff and added cookies so we can use it in the third iteration.
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Refactor code after merge
  server/interface/gitlab_project_interface.py
  server/manager/code_diff_manager.py
  server/manager/code_diff_temp.py
  server/requirements.txt
Due: backend format, backend build

fix out of range error
  server/manager/code_diff_temp.py
Due: backend format, backend build
