Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

integrate use of project data class
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

bug fix
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

changed reference to project id
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

It finally works.... fixed the bug
  client/src/components/login/Repo.js
Due: frontend build

Added project id to the getprject API call
  server/app.py
  server/interface/gitlab_analyzer_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Minor cleanups
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

overwrite user's author_name of commit to member's authorname
  server/interface/gitlab_project_interface.py
  server/model/commit.py
Due: backend format, backend build

iterate through mr manager and overwrite authorname
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add LICENSE
  LICENSE
Due: none

clean code
  server/interface/gitlab_project_interface.py
  server/model/commit.py
Due: backend format, backend build

Add header generator
  client/src/pages/CodeDiff.js
Due: frontend build

Properly render file list
  client/src/pages/CodeDiff.js
Due: frontend build

added logic for computing issues graph data
  client/src/components/login/Repo.js
  client/src/pages/SummaryPage.js
  client/src/pages/TablePage.js
Due: frontend build

add function to parse dictionary
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

update description
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

add return type
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

code diff version with some reformatting
  server/manager/code_diff_temp.py
Due: backend format, backend build

fix missing return error
  server/manager/code_diff_temp.py
Due: backend format, backend build

make functions private
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

clean code
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Expertimenting with split screen
  client/package-lock.json
  client/package.json
  client/src/App.js
  client/src/pages/CommitPage.js
  client/src/pages/NewPage.js
  client/src/pages/Split.css
Due: frontend build

Added batch processing functions for backend API interface
  server/app.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Fixed a bug in sync_a_list_of_products
  server/app.py
Due: backend format, backend build

Fixed a bug where get_merge_request_score_data will fail during syncing
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Stash before checking master
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

Add app.py fixes for the CORS route
  server/app.py
Due: backend format, backend build

Fixed a bug where get_merge_for_all_users is swapped with another API call.
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Restore app.py and add crossorigin for axios
  client/src/components/login/Repo.js
  server/app.py
Due: backend format, backend build, frontend build

Linked notes data to graph
  client/src/components/login/Repo.js
  client/src/components/summary/BarGraph.js
  client/src/pages/SummaryPage.js
Due: frontend build

bug fix for graphs
  client/src/components/floatbar/FloatBar.js
  client/src/components/summary/BarGraph.js
  client/src/pages/SummaryPage.js
Due: frontend build

Finished batch processing feature in the backend API interface and provided documentation in API_example_response.md
  server/API_example_response.md
  server/app.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Reformatted code to improve readability
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Refactor hardcode into variable for setting repos, add comments
  client/src/components/login/Repo.js
  client/src/context/AuthContext.js
Due: frontend build

Some really weird bug going on...
  client/src/components/login/Repo.js
Due: frontend build

Finally fixed the bug!
  client/src/components/login/Repo.js
Due: frontend build

Linked dates with Code Reviews graph
  client/src/components/summary/BarGraph.js
  client/src/pages/SummaryPage.js
Due: frontend build

Added last_synced value to the getProjectList API call
  server/interface/gitlab_project_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Added a private function in gitlab_analyzer_manager.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Reformatted the code
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Update API_example_response.md
  server/API_example_response.md
Due: backend format, backend build
