Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

Set up API call for config files
  client/src/pages/ConfigPage.js
Due: frontend build

resolve conflict
  server/interface/gitlab_analyzer_interface.py
Due: backend format, backend build

reformat
  server/model/merge_request.py
Due: backend format, backend build

Change branch
  client/src/components/config/InitialUserDates.js
  client/src/components/floatbar/EveryoneScore.js
Due: frontend build

display real data
  client/src/components/MembersList.js
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.css
  client/src/components/UserMap.js
Due: frontend build

condense code and remove unneeded function
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

Added GET and POST call for user configs
  server/API_example_response.md
  server/app.py
  server/interface/gitlab_analyzer_interface.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

[jaddiet] Pair programming
  .idea/.gitignore
  .idea/gitlabanalyzer.iml
  .idea/modules.xml
  .idea/vcs.xml
  client/src/components/login/Repo.js
  client/src/pages/InitialConfig.js
Due: frontend build

hide selected option
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.js
  client/src/context/AuthContext.js
Due: frontend build

Construct dictionary parameter
  client/src/components/MultipleSelect.js
  client/src/context/AuthContext.js
Due: frontend build

fix bug with comments using ObjectId
  server/interface/mongodb_interface.py
  server/model/comment.py
Due: backend format, backend build

[jaddiet] Pair programming, score calculation based on weights
  client/src/components/login/Repo.js
Due: frontend build

Remove members from userlist so there's no duplicates
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.js
Due: frontend build

complete constructing dictionary, remove some commented out code
  client/src/components/MembersList.js
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.js
Due: frontend build

set up functions for post calls to backend
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.js
Due: frontend build

add more test cases to cover more file type
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

add feature to cover html and sql
  server/manager/code_diff_Analyzer.py
  server/test/gitlab_code_diff_calculation_test.py
Due: backend format, backend build

reformat code to follow PEP8
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

comment out test. See test's comment for more info
  server/test/gitlab_code_diff_calculation_test.py
Due: backend format, backend build

Replaced filter menu with stats
  client/package.json
  client/src/components/table/FilterMenu.js
  client/src/components/table/Stats.js
  client/src/context/AuthContext.js
  client/src/pages/SummaryPage.js
  client/src/pages/TablePage.js
Due: frontend build

Set up structure for total scores
  client/src/components/commits/DisplayScore.css
  client/src/components/commits/DisplayScore.js
Due: frontend build

Load total score data on MR page
  client/src/components/commits/CommitBar.js
  client/src/components/commits/DisplayScore.js
  client/src/components/login/Repo.js
Due: frontend build

[jaddiet] Pair programming, add score for each commit code diff, fix alignment
  client/src/components/commits/DisplayScore.css
  client/src/components/commits/DisplayScore.js
  client/src/components/login/Repo.js
Due: frontend build

Fix suggested changes in code review
  client/src/components/code_diff_detail/CodeDiffTable.js
  client/src/components/commits/CommitBar.js
  client/src/pages/CodeDiff.js
  client/src/pages/SearchPage.js
Due: frontend build

Add score for each file in commit and mr
  client/src/components/login/Repo.js
Due: frontend build

Fix handleDeselect bug, continue setting up post call
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.js
Due: frontend build

Add mrlist/score recalcuation function in Config page
  client/src/pages/ConfigPage.js
Due: frontend build

Reformat code
  server/app.py
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Updated API_example_response.md since many API response structure has been changed.
  server/API_example_response.md
  server/manager/gitlab_analyzer_manager.py
Due: backend format, backend build

Attach file type score to real data
  client/src/components/commits/DisplayScore.js
Due: frontend build

Adjust more stuff from suggestions
  client/src/components/commits/CommitBar.js
  client/src/components/login/Repo.js
  client/src/pages/CodeDiff.js
Due: frontend build

Styled file type scores
  client/src/components/commits/DisplayScore.css
  client/src/components/commits/DisplayScore.js
Due: frontend build

Remove .idea from remote repo
  .idea/.gitignore
  .idea/gitlabanalyzer.iml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

Remove uneeded code
  client/src/components/commits/CommitBar.js
  client/src/components/login/Repo.js
  client/src/pages/CommitPage.js
  client/src/pages/ConfigPage.js
Due: frontend build

Remove comment out code
  client/src/components/login/Repo.js
Due: frontend build

condense code more
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

Get ready for merge
  client/src/components/commits/CommitBar.js
Due: frontend build

reformat to follow PEP8
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

fix bugs happen when reformat and follow PEP8
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

set vertical algin
  client/src/components/MembersList.js
  client/src/components/MultipleSelect.js
  client/src/components/UserMap.css
  client/src/components/UserMap.js
Due: frontend build
