Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

comment changes
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

commit
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added asserts for some error checking
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added stub for method "map_commit_authors_to_members"
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

implemented get_member_id_by_author method, but __map_commit_author_to_members is still not implemented yet.
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

removed duplicate project_list getter
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

added back in second parameter in constructor
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

add code diff manager
  server/manager/code_diff_manager.py
Due: backend format, backend build

delete not useful comment
  server/manager/code_diff_manager.py
Due: backend format, backend build

fix code to match gitlab API
  server/manager/code_diff_manager.py
Due: backend format, backend build

fix out of range bug
  server/manager/code_diff_manager.py
Due: backend format, backend build

refactor the code based on the code review on Mar 8th.
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

removed mapping stuff as I dont need it
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add return type to functions
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add changes to each route based on API v2
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

Remove update_comment_manager, Add function to get related_commitShas for a mergeRequest
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/merge_request_manager.py
  server/model/merge_request.py
Due: backend format, backend build

Add final changes to API route and remove debug logs
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

minor changes
  client/.eslintcache
  client/src/pages/TablePage.js
Due: frontend build

Quick fix on redirect link to summary page
  client/.eslintcache
  client/src/components/login/Repo.js
Due: frontend build

Quick fix to link route to summary
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

Revert commit and add changes again due to eslintcache issues
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/SearchPage.js
Due: frontend build

Merge from master and resolve conflict
  server/interface/gitlab_project_interface.py
  server/model/merge_request.py
Due: backend format, backend build

Fix merge_request.py
  server/model/merge_request.py
Due: backend format, backend build

Add parameter to get mergeRequests and Commits
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Remove self.__gitlab
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add back self.__gitlab
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Delete check_backend_format.sh
  check_backend_format.sh
Due: none

Revert "Delete check_backend_format.sh"
  check_backend_format.sh
Due: none

clean up style
  client/src/components/floatbar/EveryoneScore.css
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
Due: frontend build

The GET MR call now contains all related commits
  server/interface/gitlab_interface.py
  server/interface/gitlab_project_interface.py
  server/manager/commit_manager.py
  server/manager/merge_request_manager.py
  server/model/commit.py
  server/model/merge_request.py
  server/test/gitlab_interface_test.py
Due: backend format, backend build

PEP8 format
  server/manager/code_diff_manager.py
Due: backend format, backend build

change file name to better represent the contents
  server/manager/code_diff_analyze_manager.py
Due: backend format, backend build

Add merge list fetch function
  client/src/components/login/Repo.js
  client/src/context/AuthContext.js
Due: frontend build

Add functionality to fetch merge list and parse into useable format
  client/src/components/login/Repo.js
Due: frontend build

Add comments and ignore/score field for MR and commits
  client/src/components/login/Repo.js
  client/src/context/AuthContext.js
Due: frontend build

Add temp request calls skeleton.
  server/app.py
Due: backend format, backend build

Modified the response structure for getMRAntItsCommits Call
  server/API_example_response.txt
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Fix some typos in the response body
  server/API_example_response.txt
  server/app.py
Due: backend format, backend build

added grid layout for organizing content
  client/.eslintcache
  client/src/pages/TablePage.js
Due: frontend build
