Repository gitlab-analyzer/gitlabanalyzer: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend format, backend build, frontend build

.gitlab-ci.yml:

stages:
  - format
  - build

variables:
  MASTER_BRANCH: "master"
  PYTHON_IMAGE: "python:3.8"
  NODE_IMAGE: "node:13.12.0-alpine"

backend format:
  stage: format
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $STAGING_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install black
  script:
    - black --check -S --exclude 'server/test' server

backend build:
  stage: build
  image: $PYTHON_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - server/*
        - server/**/*
      when: always
  before_script:
    - pip install --upgrade pip
    - pip install -r server/requirements.txt
    - pip install pylint
  script:
    - pylint --errors-only server

frontend build:
  stage: build
  image: $NODE_IMAGE
  tags:
    - docker
  rules:
    - if: '$CI_MERGE_REQUEST_ID != null || $CI_COMMIT_BRANCH == $MASTER_BRANCH'
      changes:
        - client/**/*
      when: always
  before_script:
    - cd client
    - npm install
  script:
    - CI=false ./node_modules/.bin/eslint src

[tkmin] Fix calculation
  client/src/components/commits/DisplayScore.js
  client/src/components/floatbar/EveryoneScore.css
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/IndividualScore.js
  client/src/components/login/Repo.js
  client/src/pages/ConfigPage.js
  client/src/pages/SearchPage.js
Due: frontend build

Remove unused code
  client/src/components/commits/DisplayScore.js
  client/src/components/floatbar/EveryoneScore.css
  client/src/components/floatbar/EveryoneScore.js
  client/src/components/floatbar/FloatBar.js
  client/src/components/floatbar/IndividualScore.js
  client/src/components/login/Repo.js
  client/src/pages/ConfigPage.js
  client/src/pages/SearchPage.js
Due: frontend build

Fix commit code diffs
  client/src/components/code_diff_detail/CodeDiffTable.js
  client/src/components/commits/CommitBar.js
  client/src/pages/CodeDiff.js
Due: frontend build

save settings
  client/package.json
  docker-compose.yml
Due: frontend build

update docker-compose.yml
  docker-compose.yml
Due: none

update app.py and gitlab_project_interface.py
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Modify backend to not reply an empty list for direct commit on master
  server/app.py
  server/interface/gitlab_project_interface.py
Due: backend format, backend build

Add header nav to mapping
  client/src/components/Header.js
Due: frontend build

Fix batch processing and add conditional user map reset
  client/src/components/Header.js
  client/src/components/UserMap.js
  client/src/components/login/Repo.js
  client/src/context/AuthContext.js
Due: frontend build

Add Commits to master
  client/src/components/floatbar/EveryoneScore.js
Due: frontend build

Fix check_for_code_type function
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

Fix master pipeline
  server/manager/code_diff_Analyzer.py
Due: backend format, backend build

Update README.md
  README.md
Due: none

Add commit master to score calculation
  client/src/components/floatbar/EveryoneScore.js
Due: frontend build

Remove console log
  client/src/components/floatbar/EveryoneScore.js
Due: frontend build

Logo to reposearch page reroute
  client/src/components/Logo.js
Due: frontend build

Logo fix
  client/src/components/Logo.js
Due: frontend build

Upload New File
  client/public/iter3.png
Due: frontend build

Change links
  client/package.json
  client/src/components/UserMap.js
  client/src/components/login/LoginBar.js
  client/src/components/login/Repo.js
  client/src/pages/CodeDiff.js
  client/src/pages/ConfigPage.js
  client/src/pages/SearchPage.js
Due: frontend build

DAHJIOD
  client/package.json
  client/src/components/login/LoginBar.js
  client/src/pages/SearchPage.js
Due: frontend build

Fix
  client/src/components/login/Repo.js
Due: frontend build

Date fix
  client/src/components/login/Repo.js
Due: frontend build

Update the project.py and gitlab_project_interface.py. Note: this is a commit after 373 course ends
  server/interface/gitlab_project_interface.py
  server/model/project.py
Due: backend format, backend build

Fix pipeline
  server/model/project.py
Due: backend format, backend build

API Call fix
  client/src/pages/CodeDiff.js
Due: frontend build
